<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eslam.mywedding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCliqfCuqd83fOngtvlo7u6a9AtXqXJu5o" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activites.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.LogIn"
            android:label="@string/login"
            android:parentActivityName=".Activites.MainActivity" />
        <activity
            android:name=".Activites.SignUp"
            android:parentActivityName=".Activites.LogIn"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.ForgottenPassword"
            android:label="Forgotten Password"
            android:parentActivityName=".Activites.LogIn" />
        <activity
            android:name=".Activites.HomePage"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".Activites.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.EditProfile"
            android:label="@string/edit"
            android:parentActivityName=".Activites.HomePage" />
        <activity
            android:name=".Activites.DetailsHallsActivity"
            android:parentActivityName=".Activites.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.DetailsOffersActivity"
            android:parentActivityName=".Activites.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.Profile"
            android:parentActivityName=".Activites.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.ServicesActivity"
            android:parentActivityName=".Activites.HomePage" />
        <activity
            android:name=".Activites.RestsActivity"
            android:parentActivityName=".Activites.HomePage" />
        <activity
            android:name=".Activites.ReservationResting"
            android:parentActivityName=".Activites.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.DetailsServices"
            android:parentActivityName=".Activites.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activites.FavoriteHalls"
            android:parentActivityName=".Activites.HomePage" />
        <activity
            android:name=".Activites.DetailsHallsFavorite"
            android:parentActivityName=".Activites.FavoriteHalls"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


    </application>

</manifest>